/*----------------------------------------------------------
Reset
----------------------------------------------------------*/

@font-face {
    font-family: 'Gotham Book';
    src: url("../fonts/GothamBook.eot");
    src: url("../fonts/GothamBook.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBook.woff2") format("woff2"), url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.ttf") format("truetype"), url("../fonts/GothamBook.svg#GothamBook") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url("../fonts/GothamMedium.eot");
    src: url("../fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamMedium.woff2") format("woff2"), url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.ttf") format("truetype"), url("../fonts/GothamMedium.svg#GothamMedium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham light italic';
    src: url("../fonts/GothamLight-Italic.eot");
    src: url("../fonts/GothamLight-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamLight-Italic.woff2") format("woff2"), url("../fonts/GothamLight-Italic.woff") format("woff"), url("../fonts/GothamLight-Italic.ttf") format("truetype"), url("../fonts/GothamLight-Italic.svg#GothamLight-Italic") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GothamBold';
    src: url("../fonts/GothamBold-Regular.eot");
    src: url("../fonts/GothamBold-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBold-Regular.woff2") format("woff2"), url("../fonts/GothamBold-Regular.woff") format("woff"), url("../fonts/GothamBold-Regular.ttf") format("truetype"), url("../fonts/GothamBold-Regular.svg#GothamBold-Regular") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham light';
    src: url("../fonts/GothamLight.eot");
    src: url("../fonts/GothamLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamLight.woff2") format("woff2"), url("../fonts/GothamLight.woff") format("woff"), url("../fonts/GothamLight.ttf") format("truetype"), url("../fonts/GothamLight.svg#GothamLight") format("svg");
    font-weight: 300;
    font-style: normal;
}

body {
    overflow-x: hidden;
    padding-right: 0 !important;
    font-weight: normal;
    font-family: 'Gotham Book';
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    height: 100%;
}

body:before,
body:after {
    content: none !important;
}

::i-block-chrome,
body {
    -webkit-text-stroke: 0.1px;
}

iframe {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
span,
p,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    clear: none;
}

label {
    font-weight: normal;
}

*:focus {
    outline: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #f7941e;
}

a,
input[type="submit"] {
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus,
select:focus,
button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

select::-ms-expand {
    display: none;
}

*::-webkit-input-placeholder {
    color: #999 !important;
    opacity: 0.7 !important;
}

*::-moz-placeholder {
    color: #999 !important;
    opacity: 0.7 !important;
}

*:-ms-input-placeholder {
    opacity: 0.7 !important;
    color: #999 !important;
}

.ftr_form .form_control1::-moz-placeholder {
    color: #fff !important;
}

.ftr_form .form_control1:-ms-input-placeholder {
    color: #fff !important;
}

.ftr_form .form_control1::-webkit-input-placeholder {
    color: #fff !important;
}

.preloader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}

.preloader > span {
    display: inline-block;
    font-size: 36px;
    height: auto;
    left: 0;
    margin: auto;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    color: #000;
    text-align: center;
}


/*****  Main CSS  *****/

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.container .container {
    width: auto;
    padding: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cstm_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/**** Owl Carousel ****/

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* display none until init */

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


/* mouse grab icon */

.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}


/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-theme .owl-controls {
    margin-top: 0px;
    text-align: center;
}


/* Styling Next and Prev buttons */


/* Clickable class fix problem with hover on touch devices */


/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 10px 0 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #bcbcbc;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ae8910;
}


/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.owl-item .item {
    margin: auto;
    padding: 0;
    text-align: center;
    padding: 30px 45px;
}

.owl-prev,
.owl-next {
    background: #e6d293;
    border: 2px solid #e6d293;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 47px;
    opacity: 1;
    text-align: center;
    text-shadow: none;
    width: 47px;
    line-height: 40px;
    top: 50%;
    bottom: 0;
    font-size: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    left: -52px;
}

.owl-prev:hover,
.owl-next:hover {
    background: #ae8910;
    border-color: #ae8910;
}

.owl-next {
    right: -52px;
    left: auto;
}

.owl-prev:before,
.owl-next:before {
    position: absolute;
    content: '\f104';
    font-family: 'FontAwesome';
    font-size: 40px;
    left: -2px;
    right: 0;
    color: #fff;
}

.owl-next:before {
    content: '\f105';
    right: -2px;
    left: 0;
}


/*--------------------------------------------
Common
--------------------------------------------*/


/**** Header ****/

header {
    width: 100%;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 99;
    background: #fff;
    position: relative;
}

.top_header {
    padding: 9px 0;
    width: 100%;
    background: #fff;
}

.header_top_lft {
    width: 261px;
    display: inline-block;
    vertical-align: middle;
}

.header_top_lft .logo {
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: 100%;
}

.tagline {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    margin: 0 0.3%;
    text-align: center;
}

.tagline h3 {
    color: #000000;
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
}

.header_top_rght {
    float: none;
    width: 26%;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    height: 55px;
}

.header_top_rght a {
    color: #fff;
    font-family: "Gotham";
    font-size: 26px;
    float: right;
    background: #000;
    height: 100%;
    line-height: 55px;
    width: 81%;
    text-align: left;
    padding-left: 22px;
}

.header_top_rght a:hover,
.header_top_rght a:focus {
    background: #f7941e;
    color: #fff;
}

.header_top_rght i {
    font-size: 28px;
    color: #fff;
    width: 19%;
    float: left;
    text-align: center;
    height: 100%;
    line-height: 57px;
    background: #f7941e;
}

.btm_header {
    background-color: #f7941e;
}

.btm_header ul {
    padding: 0 46px;
}

.btm_header ul li {
    color: #ffffff;
    display: inline;
    float: left;
    font-size: 20px;
    list-style: none;
    text-transform: capitalize;
    position: relative;
    font-family: "Gotham Book";
    margin-right: 80px;
    padding: 10px 0;
}

.btm_header ul li:last-child {
    margin-right: 0;
}

.btm_header ul li a {
    color: #fff;
}

.btm_header ul li.active a,
.btm_header ul li:hover a,
.btm_header ul li:focus a {
    color: #2d374b;
}


/**** Banner ****/

.banner {
    width: 100%;
    height: 563px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    overflow: hidden;
}

.banner .container,
.banner .row,
.banner .col-sm-12 {
    height: 100%;
}

.banner:before {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.banner .banner_innr {
    position: relative;
}

.banner .banner_innr .video_sec {
    width: 47%;
    position: relative;
    margin-right: 5%;
    display: inline-block;
    vertical-align: middle;
}

.banner .banner_innr .video_sec img {
    width: 100%;
}

.banner .banner_innr .video_sec .video_play_btn {
    width: 88px;
    height: 69px;
    background: #000;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.banner .banner_innr .video_sec .video_play_btn i {
    color: #fff;
    font-size: 50px;
    line-height: 68px;
}

.banner .banner_innr .video_sec .video_play_btn:hover,
.banner .banner_innr .video_sec .video_play_btn:focus {
    background: #f7941e;
}

.banner .banner_innr .video_rght {
    display: inline-block;
    vertical-align: middle;
    width: 47%;
    margin-top: -7px;
}

.banner .banner_innr .video_rght h2 {
    font-size: 35px;
    font-family: "GothamBold";
    font-weight: bold;
    color: #fff;
    line-height: 50px;
}

.org_large_btn {
    font-size: 20px;
    font-family: "Gotham";
    color: #fff;
    background: #f7941e;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 450px;
    padding: 20px 10px;
    display: inline-block;
    margin-top: 48px;
}

.org_large_btn:hover,
.org_large_btn:focus {
    color: #fff;
    -webkit-box-shadow: inset 470px 0 #c06c08;
    -moz-box-shadow: inset 470px 0 #c06c08;
    box-shadow: inset 470px 0 #c06c08;
}

.org_large_btn img {
    width: 32px;
    height: 22px;
    margin-left: 10px;
    margin-top: 3px;
}


/**** Logo Slider ****/

.logo_slider {
    background: #efefef;
    width: 100%;
    padding: 44px 0;
}

.logo_slider #logo-demo .owl-pagination {
    display: none;
}

.logo_slider #logo-demo .owl-item {
    float: none;
    display: inline-block;
}

.logo_slider #logo-demo .owl-item .item {
    padding: 0;
    float: none;
    display: inline-block;
}

.logo_slider #logo-demo figure {
    margin-bottom: 0;
}

.logo_slider #logo-demo figure img {
    vertical-align: middle;
}

.logo_slider #logo-demo .owl-buttons {
    display: none;
}


/**** Home Sale Section ****/

.home_sale_sec {
    width: 100%;
    background: #fff;
    padding: 71px 0 84px;
}

.home_sale_sec .design_sec {
    position: relative;
    width: 100%;
    margin-top: 67px;
    float: left;
}

.home_sale_sec .design_sec figure {
    width: 48%;
    margin-bottom: 0;
    float: left;
}

.home_sale_sec .design_sec figure img {
    width: 100%;
}

.home_sale_sec .design_sec .design_sec_rght {
    background: #2d374b;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 59%;
    right: 0;
}

.home_sale_sec .design_sec .design_sec_rght .design_sec_innr {
    position: relative;
    padding: 57px 49px 94px;
}

.home_sale_sec .design_sec .design_sec_rght .design_sec_innr p {
    color: #fff;
    font-size: 17px;
    font-family: "Gotham light";
    font-weight: 300;
    line-height: 30px;
}

.home_sale_sec .design_sec .design_sec_rght .design_sec_innr .view_more_btn {
    position: absolute;
    right: 27px;
    bottom: -32px;
}

.view_more_btn {
    font-size: 18px;
    font-family: "Gotham light";
    color: #fff;
    background: #f7941e;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 208px;
    padding: 18px 10px;
    display: inline-block;
}

.view_more_btn:hover,
.view_more_btn:focus {
    color: #fff;
    -webkit-box-shadow: inset 300px 0 #c06c08;
    -moz-box-shadow: inset 300px 0 #c06c08;
    box-shadow: inset 300px 0 #c06c08;
}

.view_more_btn img {
    width: 22px;
    height: 15px;
    margin-left: 10px;
    margin-top: 6px;
}

.heading_sec h2 {
    font-size: 40px;
    color: #2e384c;
    text-align: center;
    font-weight: 300;
    font-family: "Gotham light";
    text-transform: uppercase;
    position: relative;
    padding-bottom: 26px;
    letter-spacing: 1px;
}

.heading_sec h2:after {
    content: '';
    top: 100%;
    left: 0;
    right: 0;
    background: #f7941e;
    width: 145px;
    height: 4px;
    position: absolute;
    margin: auto;
}

.heading_sec h2 strong {
    font-family: "Gotham";
    font-weight: 500;
}


/**** Home Marketing ****/

.home_sale_sec.home_marketing_sec {
    width: 100%;
    height: 774px;
    background-size: cover !important;
    padding: 71px 0 84px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
}

.home_sale_sec.home_marketing_sec:before {
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.home_sale_sec.home_marketing_sec .design_sec figure {
    float: right;
}

.home_sale_sec.home_marketing_sec .design_sec_rght {
    left: 0;
    right: auto;
}

.home_sale_sec.home_marketing_sec .design_sec_rght .design_sec_innr .view_more_btn {
    left: 49px;
    right: auto;
}


/**** Home Work Section ****/

.work_sec {
    width: 100%;
    padding: 72px 0 82px;
    background: #f7941e;
}

.work_sec .heading_sec h2 {
    color: #fff;
}

.work_sec .heading_sec h2:after {
    background: #fff;
}

.work_sec .work_list {
    margin-top: 74px;
}

.work_sec .work_list .fig_bx {
    background: #b96c10;
    height: 191px;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 28px;
}

.work_sec .work_list .fig_bx:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    background: #b96c10;
    height: 40px;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    transform: skewy(-177deg);
    -webkit-transform: skewy(-177deg);
    -ms-transform: skewy(-177deg);
    -moz-transform: skewy(-177deg);
}

.work_sec .work_list .fig_bx figure {
    position: absolute;
    bottom: 63px;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.work_sec .work_list .fig_bx figure img {
    width: 103px;
    height: 64px;
}

.work_sec .work_list .work_cntnt {
    text-align: center;
    margin-top: 39px;
}

.work_sec .work_list .work_cntnt p {
    color: #fff;
}

.work_sec .work_list .work_cntnt h4 {
    font-size: 22px;
    font-family: "Gotham";
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 13px;
}

.work_sec .work_list .view_more_btn.view_drk_btn {
    margin-top: 25px;
}

.work_sec .work_list .col-sm-3:nth-child(2) figure img {
    width: 69px;
    height: 87px;
}

.work_sec .work_list .col-sm-3:nth-child(3) figure img {
    width: 73px;
    height: 73px;
}

.work_sec .work_list .col-sm-3:nth-child(4) figure img {
    width: 77px;
    height: 76px;
}

.dot_icn {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
}

.dot_icn:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 30px;
    background: #fff;
    left: 0;
    right: 0;
    margin: auto;
}

.dot_icn:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: #f7941e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    top: -13px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
}

p {
    font-size: 17px;
    font-family: "Gotham light";
    font-weight: 300;
    line-height: 30px;
}

.view_more_btn.view_drk_btn {
    background: #a85b00;
}

.view_more_btn.view_drk_btn:hover,
.view_more_btn.view_drk_btn:focus {
    -webkit-box-shadow: inset 470px 0 #523007;
    -moz-box-shadow: inset 470px 0 #523007;
    box-shadow: inset 470px 0 #523007;
}


/**** Footer ****/

footer .top_ftr {
    width: 100%;
    position: relative;
    background: #191c1c;
    padding: 50px 0 30px;
    text-align: center;
    z-index: 2;
}

footer .top_ftr:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background: #f7941e;
}

footer .top_ftr .ftr_main .ftr_contact {
    text-align: left;
    padding-bottom: 70px;
    border-bottom: 1px solid #474949;
    width: 88%;
}

footer .top_ftr .ftr_main .ftr_contact p {
    font-size: 18px;
    color: #fff;
    font-family: "Gotham Book";
    font-weight: normal;
    margin-bottom: 26px;
}

footer .top_ftr .ftr_main .ftr_contact p:last-child {
    margin-bottom: 0;
}

footer .top_ftr .ftr_main .ftr_contact p span {
    display: inline-block;
    vertical-align: middle;
}

footer .top_ftr .ftr_main .ftr_contact p span.crcl {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #f7941e;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 62px;
}

footer .top_ftr .ftr_main .ftr_contact p span i {
    font-size: 33px;
    display: inline-block;
    vertical-align: middle;
}

footer .top_ftr .ftr_main .ftr_contact p span i.fa-volume-control-phone {
    -ms-transform: rotate(-36deg);
    transform: rotate(-36deg);
    -webkit-transform: rotate(-36deg);
}

footer .top_ftr .ftr_main .ftr_contact p a {
    color: inherit;
    vertical-align: middle;
}

footer .top_ftr .ftr_main .ftr_contact p a:hover,
footer .top_ftr .ftr_main .ftr_contact p a:focus {
    color: #f7941e;
}

footer .top_ftr .ftr_main h6 {
    color: #fff;
    font-size: 14px;
    font-family: "Gotham light";
    font-weight: 300;
    text-align: left;
    margin-top: 190px;
}

footer .top_ftr .ftr_main .ftr_social {
    margin-top: 82px;
    width: 88%;
    text-align: left;
}

footer .top_ftr .ftr_main .ftr_social li {
    list-style: none;
    display: inline-block;
    margin-right: 63px;
    font-size: 30px;
    color: #fff;
}

footer .top_ftr .ftr_main .ftr_social li a {
    color: inherit;
}

footer .top_ftr .ftr_main .ftr_social li a:hover,
footer .top_ftr .ftr_main .ftr_social li a:focus {
    color: #f7941e;
}

footer .top_ftr .ftr_main .ftr_form {
    text-align: left;
    padding-left: 108px;
}

footer .top_ftr .ftr_main .ftr_form h1 {
    font-family: "GothamBold";
    font-weight: bold;
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 53px;
}

footer .top_ftr .ftr_main .ftr_form .sbmt_btn {
    margin-top: 11px;
}

footer .top_ftr .ftr_main .ftr_form .sbmt_btn .view_more_btn.view_drk_btn {
    cursor: pointer;
    border: 0;
}

.form_control1 {
    width: 100%;
    height: 59px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 19px;
    padding: 0 28px;
    margin-bottom: 16px;
    font-family: "Gotham light";
    font-weight: 300;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form_control1:focus {
    border-color: #2d374b;
}

textarea.form_control1 {
    height: 130px;
    resize: none;
    padding: 13px 28px;
    line-height: 18px;
}


/**** Testimonial Section ****/

.testimonial_sec {
    padding: 65px 0 63px;
    text-align: center;
    background: #fff;
}

.testimonial_sec #testimonial-demo {
    margin-top: 28px;
}

.testimonial_sec #testimonial-demo .owl-wrapper-outer {
    padding-bottom: 60px;
    padding-top: 49px;
}

.testimonial_sec #testimonial-demo .owl-item .item {
    padding: 0;
}

.testimonial_sec #testimonial-demo .owl-pagination {
    display: none;
}

.testimonial_sec #testimonial-demo .owl-buttons {
    display: none;
}

.testimonial_sec #testimonial-demo .testimonial_video {
    text-align: left;
    margin-right: 3%;
    width: 51%;
    display: inline-block;
    vertical-align: top;
}

.testimonial_sec #testimonial-demo .testimonial_video figure {
    width: 100%;
    position: relative;
    margin-bottom: 0;
}

.testimonial_sec #testimonial-demo .testimonial_video figure img {
    width: 100%;
}

.testimonial_sec #testimonial-demo .testimonial_video figure .video_play_btn {
    width: 103px;
    height: 80px;
    background: #f7941e;
    position: absolute;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.testimonial_sec #testimonial-demo .testimonial_video figure .video_play_btn a {
    display: block;
}

.testimonial_sec #testimonial-demo .testimonial_video figure .video_play_btn i {
    color: #fff;
    font-size: 50px;
    line-height: 78px;
}

.testimonial_sec #testimonial-demo .testimonial_video figure .video_play_btn:hover,
.testimonial_sec #testimonial-demo .testimonial_video figure .video_play_btn:focus {
    background: #000;
}

.testimonial_sec #testimonial-demo .testimonial_info {
    background: #2d374b;
    width: 45%;
    display: inline-block;
    padding: 74px 43px 56px;
    vertical-align: top;
    text-align: left;
    position: relative;
    min-height: 371px;
    z-index: 1;
}

.testimonial_sec #testimonial-demo .testimonial_info:after {
    bottom: -51px;
    right: 30px;
    width: 194px;
    height: 194px;
    position: absolute;
    content: '';
    background: #2d374b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index: -1;
}

.testimonial_sec #testimonial-demo .testimonial_info:before {
    position: absolute;
    content: '';
    background: url(../images/quote_img.png) no-repeat;
    top: -39px;
    right: 0;
    left: 0;
    margin: auto;
    width: 89px;
    height: 81px;
    background-size: 100%;
}

.testimonial_sec #testimonial-demo .testimonial_info p {
    font-size: 17px;
    color: #fff;
    font-weight: 300;
    font-family: "Gotham light";
}

.testimonial_sec #testimonial-demo .testimonial_info h6 {
    color: #f7941e;
    font-size: 16px;
    font-family: "Gotham";
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 25px;
}

.testimonial_sec #testimonial-demo .testimonial_info .testi_logo {
    right: 30px;
    position: absolute;
    bottom: -21px;
    width: 194px;
    text-align: center;
}


/**** Our Team  ****/

.about_banner {
    position: relative;
    width: 100%;
    height: 296px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden;
}

.about_banner::before {
    background: rgba(0, 0, 0, 0.73);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.about_banner h2 {
    font-size: 44px;
    font-family: "GothamBold";
    font-weight: bold;
    color: #fff;
    line-height: 50px;
    text-transform: uppercase;
}

.about_banner .container {
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
}

.about_caption {
    position: relative;
    text-align: center;
}

.about_banner .org_large_btn {
    font-size: 16px;
    width: 359px;
    padding: 15px 10px;
    margin-top: 30px;
}

.about_banner .org_large_btn img {
    width: 26px;
}

.team_page {
    padding: 90px 0;
}

.team_main {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 40px;
}

.team_bx {
    width: 32.33%;
    margin-right: 1%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.team_bx:before {
    content: '';
    position: absolute;
    top: -33px;
    left: 0;
    background: #fff;
    height: 40px;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    transform: skewy(178deg);
    -webkit-transform: skewy(178deg);
}

.team_bx:nth-child(3n) {
    margin-right: 0;
}

.team_bx figure {
    margin-bottom: 38px;
    width: 100%;
}

.team_bx figure img {
    width: 100%;
}

.heading_med {
    position: relative;
    margin-bottom: 33px;
}

.heading_med h4 {
    font-size: 23px;
    color: #2e384c;
    font-family: 'Gotham';
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 14px;
    line-height: 30px;
}

.heading_med h4::after {
    content: '';
    top: 100%;
    left: 0;
    background: #f7941e;
    width: 45px;
    height: 3px;
    position: absolute;
    margin: auto;
}

.team_bx .heading_med h4::after {
    right: 0;
}

.team_bx h6 {
    font-size: 15px;
    color: #667084;
    font-weight: 500;
    font-family: 'Gotham';
    text-transform: capitalize;
    margin-bottom: 18px;
}

.team_bx p {
    color: #2e384c;
}

.team_main+.team_main {
    margin-top: 40px;
}

.team_main:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.team_about {
    width: 100%;
    height: 574px;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 70px 0;
}

.team_about::before {
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.team_about .container {
    position: relative;
}

.team_about figure {
    width: 40%;
    margin-bottom: 0;
    padding-right: 2%;
    position: relative;
    padding-bottom: 23px;
    padding-top: 18px;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
}

.team_about figure:before {
    border: 3px solid #f7941e;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 96%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 1;
}

.team_about figure img {
    width: 100%;
}

.team_about figure:after {
    content: '';
    position: absolute;
    top: -14px;
    left: 0;
    background: #f8f8f8;
    height: 40px;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    transform: skewy(178deg);
    -webkit-transform: skewy(178deg);
}

.heading_med_sec h3 {
    font-size: 33px;
    color: #2e384c;
    font-weight: 500;
    font-family: 'Gotham';
    text-transform: uppercase;
    position: relative;
    padding-bottom: 9px;
    margin-bottom: 23px;
}

.team_about_rght {
    width: 57%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2%;
    margin-top: 16px;
}

.heading_med_sec h3::after {
    content: '';
    top: 100%;
    left: 0;
    background: #f7941e;
    width: 45px;
    height: 3px;
    position: absolute;
}

.team_about_rght p {
    color: #2e384c;
}

.value_page .team_bx figure {
    position: relative;
}

.value_page .team_bx figure:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.value_page .team_bx figure:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/pattern.png) repeat;
    width: 36px;
    height: 100%;
    z-index: 3;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
}

.figure_ovrlay {
    width: 91px;
    position: absolute;
    top: 50%;
    z-index: 6;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/**** Process Page ****/

.process_abt {
    padding: 77px 0;
    width: 100%;
}

.process_abt figure {
    float: right;
    margin-bottom: 0;
    width: 50%;
}

.process_abt .process_abt_info {
    width: 50%;
    padding-right: 5%;
}

.process_abt .process_abt_info p {
    color: #2e384c;
    font-size: 17px;
}

.heading_med span {
    font-weight: 300;
    font-family: "Gotham light";
}

.process_cstm_list {
    background: #fbfbfb;
    width: 100%;
    padding: 58px 0 68px;
    overflow: hidden;
}

.process_bx {
    margin-top: 54px;
    text-align: center;
}

.process_bx figure {
    position: relative;
    margin-bottom: 42px;
}

.process_bx figure:before {
    content: '';
    position: absolute;
    top: -31px;
    left: 0;
    background: #fbfbfb;
    height: 40px;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    transform: skewy(178deg);
    -webkit-transform: skewy(178deg);
}

.process_cstm_list .process_bx .heading_med h4:after {
    right: 0;
}

.process_cstm_list .process_bx p {
    color: #2e384c;
    font-size: 17px;
}

.process_cstm_list .process_bx .view_more_btn {
    margin-top: 30px;
}

.team_page.process_behind {
    padding: 63px 0
}

.team_page.process_behind .team_bx {
    width: 31.7%;
    margin-right: 2%;
}

.team_page.process_behind .team_bx:last-child,
.team_page.process_behind .team_bx:nth-child(3n) {
    margin-right: 0
}

.team_page.process_behind .team_main {
    margin-top: 57px;
}


/**** Process Internal ****/

.process_internal {
    width: 100%;
    padding: 75px 0;
}

.vertical_sec {
    position: relative;
    padding-left: 40px;
}

.vertical_sec:before {
    width: 3px;
    height: 100%;
    background: #f7941e;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.vertical_sec p {
    color: #2e384c;
}

.process_org {
    width: 179px;
    background: #f7941e;
    margin-right: 40px;
    text-align: center;
    padding: 26px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.process_org h2 {
    font-size: 57px;
    color: #fff;
    font-weight: 500;
    font-family: 'Gotham';
}

.stp {
    width: 100%;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    font-family: 'Gotham light';
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
}

.process_org:before {
    content: '';
    position: absolute;
    top: -33px;
    left: 0;
    background: #fff;
    height: 40px;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    transform: skewy(178deg);
    -webkit-transform: skewy(178deg);
}

.process_internal_bx {
    border-top: 1px solid #eaeaea;
    width: 100%;
    margin-top: 60px;
    padding-top: 60px;
}

.process_internal_cntnt {
    display: inline-block;
    width: 79%;
    vertical-align: top;
}

.process_internal_cntnt p {
    color: #2e384c;
}

.process_internal_cntnt .heading_med {
    margin-bottom: 20px;
}


/**** Services Page ****/

.bg_grey {
    background: #f8f8f8 !important;
}

.bg_grey .team_bx:before {
    background: #f8f8f8 !important
}

.bg_grey .heading_med h4 span {
    display: block;
}

.process_behind .view_more_btn {
    margin-top: 34px;
}

.team_page.process_behind.bg_grey {
    padding: 16px 0 75px;
}


/**** Portfolio Page****/

.gallery_sec {
    width: 100%;
    padding: 10px 0;
}

.gallery_sec ul li {
    color: #2e384c;
    display: inline-block;
    font-size: 21px;
    font-family: 'Gotham';
    font-weight: 500;
    list-style: none;
    text-align: center;
    margin-right: 0;
    text-transform: uppercase;
}

.gallery_sec ul li:last-child {
    margin-right: 0;
}

.gallery_sec ul li span {
    background: #fff;
    width: 348px;
    display: inline-block;
    cursor: pointer;
    padding: 19px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#filters {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#filters li {
    float: none;
    list-style: none;
}

#filters li:last-child {
    margin-right: 0;
}

#filters li span.active,
#filters li:hover span {
    background: #f7941e;
    color: #fff;
}

#portfoliolist {
    margin-top: 66px;
    overflow: hidden;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 31.3%;
    display: none;
    float: left;
    margin: 0 1% 76px 1%;
}

#portfoliolist .portfolio:last-child {
    margin-right: 0;
}

.portfolio-wrapper {
    position: relative;
}

.portfolio-wrapper > figure {
    background: url(../images/portfolio_bg1.png) no-repeat;
    height: 279px;
    width: 100%;
    /*border-right: 1px solid #f7941e;*/
    margin-bottom: 0;
    padding: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 1px solid #f7941e;
    position: relative;
    margin-bottom: 33px;
    overflow: hidden;
}

.portfolio-wrapper > figure img {
    -ms-flex-item-align: center;
    align-self: center;
    vertical-align: middle;
}

.portfolio-wrapper > figure:hover .portfolio_overlay {
    opacity: 1;
}

.portfolio_overlay {
    background: rgba(247, 148, 30, 0.62);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    opacity: 0;
}

.portfolio_overlay .visit_web {}

.visit_web {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-family: 'Gotham';
    font-weight: 500;
    background: #f7941e;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 179px;
    padding: 16px 10px;
    display: inline-block;
}

.visit_web:hover,
.visit_web:focus {
    color: #fff;
    -webkit-box-shadow: inset 300px 0 #c06c08;
    -moz-box-shadow: inset 300px 0 #c06c08;
    box-shadow: inset 300px 0 #c06c08;
}

.portfolio_cntnt ul li {
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

.portfolio_cntnt ul li figure {
    width: 22px;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
}

.portfolio_cntnt ul li figure img {
    vertical-align: middle;
}

.portfolio_cntnt ul li:last-child {
    margin-bottom: 0;
}

.portfolio_cntnt ul li p {
    font-size: 18px;
    color: #262626;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    width: 87%;
}


/**** Contact Page ****/

.contact_page {
    padding: 76px 0 96px;
    width: 100%;
}

.contact_map {
    height: 517px;
    width: 100%;
}

.contact_map figure {
    margin-bottom: 0;
    width: 100%;
}

.contact_map figure img {
    width: 100%;
}

.contact_rght {
    padding-left: 5%;
}

.contact_rght p {
    color: #262626;
}

.contact_info_sec {
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;
    width: 100%;
    padding-top: 20px;
}

.contact_info_sec h5 {
    font-size: 29px;
    text-transform: capitalize;
    font-family: 'Gotham';
    font-weight: 500;
}

.contact_info_sec .org_large_btn {
    font-weight: 500;
    padding: 7px 10px;
    width: 100%;
    margin-top: 28px;
    text-transform: none;
}

.contact_info_sec .org_large_btn span {
    vertical-align: middle;
}

.contact_info_sec a i {
    font-size: 42px;
    vertical-align: middle;
    margin-right: 10px;
}

.contact_info_sec i.fa-envelope {
    font-size: 21px;
}

.contact_info_sec .org_large_btn+.org_large_btn {
    padding: 12px 10px;
    margin-top: 21px;
}

.tp_30 {
    margin-top: 30px;
}

.contact_info_sec ul {
    margin-top: 30px;
}

.contact_info_sec ul li {
    list-style: none;
    width: 74px;
    height: 74px;
    background: #f7941e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    line-height: 72px;
    display: inline;
    float: left;
    margin-right: 34px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.contact_info_sec ul li:last-child {
    margin-right: 0;
}

.contact_info_sec ul li i {
    margin-right: 0;
    font-size: 32px;
}

.contact_info_sec ul li a {
    color: #fff;
    display: block;
}

.contact_info_sec ul li:hover,
.contact_info_sec ul li:focus {
    background: #c06c08;
}

.contact_lft {
    position: relative;
}

.contact_lft form {
    border: 8px solid #e9e9e9;
    padding: 87px 40px 40px;
    position: relative;
    border-top: 0;
}

.contact_lft form p {
    position: relative;
    margin-bottom: 20px;
}

.contact_lft form .form_control1 {
    border: 1px solid #e1e1e1;
    border-radius: 0px;
    color: #262626;
    font-size: 15px;
    height: 54px;
    padding: 0 17px 0 49px;
    margin-bottom: 0;
}

.contact_lft form textarea.form_control1 {
    height: 119px;
    padding: 17px 17px 17px 49px;
}

.contact_lft .form_control1:focus {
    border-color: #f7941e;
}

.contact_lft i {
    position: absolute;
    color: #f7941e;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: 20px;
}

.contact_lft p {
    position: relative;
}

.contact_lft i.fa-mobile {
    font-size: 33px;
}

.txt_icn {
    top: 17px !important;
    transform: none !important;
}

.contact_lft p.sbmt_btn {
    position: absolute;
    bottom: -28px;
    margin-bottom: 0;
}

.contact_lft .view_more_btn {
    font-size: 25px;
    cursor: pointer;
    width: 298px;
    padding: 16px;
    border: 0;
}

.contact_lft form:before {
    background: #e9e9e9;
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    transform: skewY(177deg);
    -webkit-transform: skewY(177deg);
    margin-top: 16px;
}

.contact_lft form:after {
    background: #fff;
    width: 8px;
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    height: 33px;
}


/**** Csse Study ****/

.case_study {
    padding: 101px 0;
    width: 100%;
}

.case_study_sec figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 33px;
}

.case_study_sec figure > img {
    width: 100%;
}

.case_study_sec figure:before {
    content: '';
    position: absolute;
    top: -33px;
    left: 0;
    background: #fff;
    height: 40px;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    transform: skewy(178deg);
    -webkit-transform: skewy(178deg);
}

.case_study_sec figure .portfolio_overlay {
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: rgba(247, 148, 30, 0.8);
}

.case_study_sec figure:hover .portfolio_overlay {
    opacity: 1;
}
.case_bx_main{ width: 30%; display: inline; margin-right: 5%;
    float: left;}
.case_bx {
   
    border: 1px solid #c2c2c2;
   
    height: 83px;
   
    position: relative;border-top: 0;
}

.case_bx:before {
    content: '';
position: absolute;
top: 2px;
left: 0;
background: #c2c2c2;
height: 1px;
padding-bottom: 0;
position: absolute;
width: 100%;
z-index: 5;
transform: skewy(178deg);
-webkit-transform: skewy(178deg);
}
.case_bx:after{height: 10px;
width: 1px;
content: '';
position: absolute;
top: -6px;
left: -1px;
background: #fff;}
.case_bx_main:last-child {
    margin-right: 0;
}
.case_bc h6{font-size: 26px;text-transform: uppercase;color: #000;}